<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Click Here To List A Puppy</h1>
  <form class="" action="/" method="post">
<p>Name: <input type="text" name="name" value=""></p>
<p>Breed: <input type="text" name="breed" value=""></p>
<p>Age: <input type="text" name="age" value=""></p>
<input type="submit" name="Submit" value="">
  </form>
  </body>
</html>
